@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dosis:wght@200&family=Gideon+Roman&family=Hubballi&family=Josefin+Sans&family=Playfair+Display:wght@400;800&family=Redressed&family=Rubik:wght@400;500;700&family=Zen+Kaku+Gothic+Antique:wght@300&display=swap");

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Rubik", sans-serif;
}
